<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_head.ejs') %> 
<body>
  <%- include('./partials/_nav.ejs') %> 
  <header>
    <h1>Homepage</h1>
    <h2></h2>
  </header> 
  <main>
    <h3>Comments</h3>
    
    <!-- Check if the user is logged in. If they are, the form will show to let them post a message -->
    <% if (user) { %>
      <form action="/comment/new-comment" method="post">
        <textarea name="comment" id="" cols="50" rows="5" placeholder="Post a comment..."></textarea>
        <button type="submit">Post</button> 
      </form>
    <% } else {%>
      <h6>Log in to post a comment</h6>
    <% } %> 

    <!-- Loop through the database to display all messages. commentList is passed through the home-routes when the home page is rendered-->
    <% commentList.forEach( el => { %> 
      <section class="message" data-id ='<%=el._id%>'>
      <img src="<%=el.thumbnail  %> " alt="" referrerpolicy="no-referrer" class="thumbnail">
        <div>
          <h4><%= el.username %></h4>
           <span><%= el.date %> </span>
          <p><%= el.comment %> </p>
          <div class="likes"><i class="fa-solid fa-thumbs-up"></i> <%= el.likes.length %> </div>
        </div>
        <% if(user && user.googleId === el.googleId) { %> 
          <button class="delete-btn" data-id = '<%=el._id%>'> Delete </button>
          <button class="edit-btn">Edit</button>
        <% } %> 
      </section>
    <% }) %> 

  </main>
   
  <script src="js/main.js"></script>
</body>
</html>
