<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_head.ejs') %> 
<body>
  <%- include('./partials/_nav.ejs') %> 
  <header>
    <h1>Homepage</h1>
  </header> 
  <main>
    <h3>Comments</h3>
    
    <!-- Check if the user is logged in. If they are, the form will show to let them post a message -->
    <% if (user) { %>
      <form action="/comment/new-comment" method="post">
        <textarea class="form-control" name="comment" rows="5" placeholder="Post a comment..."></textarea>
        <button type="submit" class="btn btn-primary mt-3 mb-5 ">Post</button> 
      </form>
    <% } else {%>
      <h6 class="mb-5">Log in to post a comment</h6>
    <% } %> 

    <!-- Loop through the database to display all messages. commentList is passed through the home-routes.js when the home page is rendered-->
    <% commentList.forEach( comment => { %> 
      <section class="message mt-5" data-id ='<%=comment._id%>'>
        <img src="<%=comment.thumbnail  %> " alt="" referrerpolicy="no-referrer" class="thumbnail">
        <div>
          <h4><%= comment.username %></h4>
          <span><%= comment.date %> </span>
          <p><%= comment.comment %> </p>
          <a href="#" class="likes btn" data-id= '<%=comment._id%>'><i class="fa-solid fa-thumbs-up"></i> <%= comment.likes.length %> </a>
        </div>
        <div>
          <% if(user){ %>
            <button class="reply-btn btn btn-primary" data-id= '<%=comment._id%>' > Reply </button>
          <% } %>
          <% if(user && user.googleId === comment.googleId) { %>
            <button class="edit-btn btn btn-secondary">Edit</button>
            <button class="delete-btn btn btn-danger" data-id= '<%=comment._id%>'> Delete </button>
          <% } %>
        </div>
      </section>
      <form action="/comment/<%= comment.id %>/reply" method="post" class="hidden reply-form">
        <textarea class="form-control mb-3" name="reply" rows="3" placeholder="Reply" required></textarea>
        <button type="submit" class="btn btn-primary">Reply</button>
        <button class="cancel-reply-btn btn btn-secondary">Cancel</button>
      </form>

      <form action="/comment/<%= comment.id %>/edit" method="post" class="hidden edit-form">
        <textarea class="form-control mb-3" name="edit" rows="3" required ><%= comment.comment %></textarea>
        <button type="submit" class="save-edit-btn btn btn-primary" data-id= '<%=comment._id%>'>Save</button>
        <button class="cancel-edit-btn btn btn-secondary">Cancel</button>
      </form>

      <section class="replies mt-3">
        <!-- filter through the reply list for the replies that have the corresponding commentId. Replies is passed through home-routes.js -->
        <% replies.filter(toKeep => toKeep.commentId.toString() === comment.id).forEach(reply => { %>
            <!-- render out each reply here -->
            <p>ReplyId: <%= reply.reply%> </p>
        <% }) %> 
      </section>
    <% }) %> 

  </main>
   
  <script src="js/main.js"></script>
</body>
</html>
